/* font-family: 'Inconsolata', monospace; */
*{
    font-family: 'Inconsolata', monospace;
    margin: 0px;
}
.img-fondo{
    background-color: #ffa500;
    background-image: linear-gradient(62deg, #ffa500 0%, blanchedalmond 100%);
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.title{
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    margin: 10px;
}

.img-circ{
    color: whitesmoke;
    border-radius: 50%;
    text-align: right;
    flex-basis: 20%;
}

.img-personal{
    border-radius: 50%;
    text-align: right;
    margin: 10px;
}

/* MAIN */
.fondo-main{
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: azure;

}
.content{
    border: 1px solid lightgray;
    margin: 5px;
    background-color: blanchedalmond;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 5px 5px lightblue;

}

.medio{
    width: 40%;
    align-content: space-between;
}

.subtitle{
    background-color: orange;
width: fit-content;
margin-left: 5px;
position: absolute;
margin-top: -20px;
margin-left: -30px;
    box-shadow: 5px 5px lightgrey;
}

h3{
    padding: 5px;
}

.info{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
}